/* this file is loaded by index.html and styles the page */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Share Tech Mono", monospace;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #718355;
  color: #685044;
}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid;
  border-color: #585123;
  background-color: #B1D19E;
  box-shadow: -10px 10px 5px #585123;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.indent {
  padding-left: 5%;
  padding-bottom: 5%
}

a.header:link {
  color: #5FA8D3;
  text-decoration: none;
  font-size: 30%;
}
a.header:visited {
  color: #BC9CB0;
  text-decoration: none;
}
a.header:hover {
  color: #8B85C1;
  text-decoration: none;
  font-size: 30%;
}

a.text:link {
  color: #685044;
  text-decoration: none;
}

a.text:visited {
  color: #685044;
  text-decoration: none;
}


a.text:hover {
  color: #8B85C1;
  text-decoration: none;
  
}

h1 {
  font-family: "Share Tech Mono", monospace;
  padding-left: 5%;
  font-size: 50px;
  color: #685044;
  
}

project-header {
  font-family: "Share Tech Mono", monospace;
  font-size: 80px;
  font-weight: bold;
  color: #685044;
  padding-bottom: 5px;
}

list-header{
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  font-weight: bold;
  color: #685044;
  padding-bottom: 5px;
}

.trees {
  width: 45px;
  height: 45px;
  border: 0px;
  padding: 0px 0px 0px 10px;
  
}

