/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial";
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #718355;
}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid;
  border-color: #685044;
  padding: 10px;
  background-color:#cfe1b9;
  box-shadow: -10px 10px 5px #585123;

}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.research {
  background-color:#D0ADA7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.about-me {
  background-color:#cfe1b9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
a{
  color: #685044;
  text-decoration: none;
  font-size: 50%
}
h1 {
  text-indent:5%;
  line-height: 1.5;
  font-size: 150%;
  color: #685044;
}
h2 {
  line-height: 1;
  font-weight: bold;
  color: #717568
}
green{
  line-height: 1;
  font-weight: bold;
  color:#F6DFE3;
}
purple{
  line-height: 1;
  font-weight: bold;
  color:#B49FCC;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
